body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: url(./bg.jpg) no-repeat;
    background-size: 120%;

    .wrapper {
        width: 325px;
        height: 100%;
        position: relative;
        margin: 0 auto;
    }
}

@media screen and (max-width:400px){
    body{
        background-image: url(./1.jpg);
        background-size: cover; 
    }
}

header {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: flex-start;
    h1 {
        font-size: 50px;
        color: #9d8177;
        margin: 0;
    }

    .score {
        width: 70px;
        float: right;
        background-color: #9d8177;
        opacity: 0.7;
        color: #fff;
        text-align: center;
        box-shadow: 1px 1px 3px 1px #cac2c2;
        padding: 2px 4px;
        font-size: 10px;
        margin-left:5px;

        span {
            text-align: center;
            font-size: 15px;
            font-weight: 600;
            display: block;
            margin-top: 1px;
        }
    }
}

#grid-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
    background-color: #9d8177;
    margin-top: 35px;
    border: 6px solid #9d8177;
    .grid-cell {
        background-color: #f3ead4;
        border-radius: 5px;
        position: absolute;
    }
    
    .number-cell {
        border-radius: 5px;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
    }
    
    .number-cell-warn {
        animation: warn .3s ease-out;
    }
}


@keyframes warn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


.score-animation {
    animation: num .3s ease-out forwards;
}

@keyframes num {
    0% {
        color: pink;
        transform: scale(0)
    }

    100% {
        color: #fff;
        ;
        transform: scale(1)
    }
}
 


#over {
    position: fixed;
    padding: 16px 10px;
    color: #fff;
    z-index: 999;
    font-weight: bold;
    background-color: #d2866b;
    left: 50%;
    transform: translateX(-50%);
    top: 46%;
    font-size: 23px;
    display: none;
}
 